/**{*/
/*  box-sizing: border-box;*/
/*}*/

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  min-width: 1000px;

}

