.banner {
    cursor: pointer;
    /*margin: 25px;*/
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, .6);
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
p {
    text-decoration: none;
}

.tdn {
    text-decoration: none;
}
