.banner {
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
p {
    text-decoration: none;
}

.tdn {
    text-decoration: none;
}
